body{
	background: 3d2d2c1 url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/XiaomiHangzhouStore.jpg/1024px-XiaomiHangzhouStore.jpg')
    font: 16px Arial, Helvetica;
}
#principal{ 
width: 1000px;
margin: auto;
}
#menu{
	background: black;
	padding: 18px;
	text-align: center;
}
#conteudo{
	background: e8e8d9;
	padding: 10px;
}
#rodape{
	text-align: center;

}
a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
.centralizar{
	text-align: center;
}
.img-geracao{
	border: 10px solid #c3c3ae
}
.img-capa{
	width: 1000px;
	height: 400px;
}
h1{
	text-align: center;
	color: #828271;
}
.boxmodel{
	width: 250px;
	border: 2px solid orange;
	padding: 0px;
	margin-top: 0px;
	margin-left: 3px;
	float: left;
}
.ccc{
	padding: 0px;
margin: 0px;
}
.img{
	width: 250px;
	height: 180px;
	border: 2px solid orange;
	margin: 2px;
	float: left;
}
.clear{
	clear: left;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
